---
import "../assets/css/Contact.css";
---

<section id="contact" class="contact">
    <h2 class="contact-header">Reach Out To Me</h2>
    <div class="contact-links-gallery">
        <a
            target="_blank"
            href="https://www.linkedin.com/in/dan-dervich-46a8362a0/"
            class="contact-link">Linkedin</a
        >
        <a
            target="_blank"
            href="https://github.com/dan-dervich"
            class="contact-link">GitHub</a
        >
        <a
            target="_blank"
            href="mailto:dandervich@gmail.com"
            class="contact-link">dandervich@gmail.com</a
        >
    </div>
</section>
