---
import "../assets/css/Formation.css";
---

<section id="formation" class="formation">
    <h2 class="formation-header">Formation</h2>
    <div class="formation-timeline">
        <div class="formation-child">
            <h3>2020 - CS50</h3>
            <p>
                I was 13 years old in july, constantly playing fortnite when my
                parents took my computer and told me i could only use it for
                studying. I was bored and heard about CS50 so I told my parents
                and they agreed to let me use it as long as it was for CS50 or
                schoolwork. That is when my 13 year old self found an excuse to
                be on a computer which was actully funner than schoolwork.
                Slowly I began understanding more and more and by the end of
                2020 I was completely in love with the art of programing.
            </p>
        </div>
        <div class="formation-child">
            <h3>2021 - First Website</h3>
            <p>
                I was 14 years old and I had finished CS50 and felt like I knew
                everything so I decided to enter web development. One of the
                main reasons I entered web development was because my father
                needed a new website for his company in Argentina. So I tought
                myself web development and by mid 2021 <a
                    target="_blank"
                    href="https://membranadeosmosis.com.ar"
                    >Membrana De Osmosis</a
                > was born. From around this time I began trying to learn SEO too.
                At first I was not successful but I kept trying and trying each day
                learning new techniques and strategies.
            </p>
        </div>
        <div class="formation-child">
            <h3>2022 - SEO & Second Website</h3>
            <p>
                I was 15 years old and I had finished developing <a
                    target="_blank"
                    href="https://membranadeosmosis.com.ar"
                    >Membrana De Osmosis</a
                > and I was trying to optimize it's performance and SEO. During this
                time my older brother had started gaining traction in his lingerie
                startup and asked me if I could develop his website. I agreed and
                the adventure of design and development of
                <a href="https://ahavahmoda.com" target="_blank">Ahavah Moda</a>
                began. During this period I was going to school and coming home to
                work on my brothers website often staying up late at night or forgetting
                to sleep. I truly enjoyed the process of creating a website. I would
                work in assignment intervals so I would assign X objective on <a
                    href="https://ahavahmoda.com"
                    target="_blank">Ahavah Moda</a
                > and then once it was done I would work on the SEO of X other page
                in <a href="https://membranadeosmosis.com.ar" target="_blank"
                    >Membrana De Osmosis</a
                >. This is how by the end of 2022 Membrana De Osmosis was
                positioned in the first page for multiple keywords in Argentina
                and ahavahmoda was developed. During this year I also
                participated in the OIA(Olimpiada, Informatica, Argentina) which
                is the Argentinian programing olimpics. This was a great
                learning experience since I got to compete with people a year
                older than me and also learned a lot about algorithms and data
                structures.
            </p>
        </div>
        <div class="formation-child">
            <h3>2023 - Quantity != Quality</h3>
            <p>
                In 2023 I changed schools to ORT Argentina, a school that
                teaches programming and technology. I was 16 years old and I was
                obsessed with programming but honestly I sucked at UI/UX. My
                older brother made sure I knew I sucked at it, he would
                constantly tell me the website loads faster than I can think but
                it's so ugly I'd prefer to not have a website. 16 year old me
                thought he was insulting me so I told him if he didn't want my
                website he could go and use wix or whatever other website
                builder he wanted. He decided to begin using tiendanube but a
                couple months later I realised he was right and paired with my
                design teacher to develop a new website, this time with
                performance and design in mind. During this year I learned a lot
                about the importance of sleeping well and taking breaks. I
                learned this the hardway since many days ORT would finish at
                5:30pm and start at 7:45am. If you do not get a good night of
                sleep and are constantly coding your body will slowly begin to
                give you signs to stop. Luckily i was able to notice fast and
                took measures, I wouldn't allow myself to code for more than 2hs
                a day out of school. At this slow and tedious pace I was able to
                finish my brothers website by the end of the year. I used
                astro.js as my framework of choice since I value performance and
                SEO, but also used pocketbase to facilitate adding new products
                onto the page since before this I had to do it manually.
            </p>
        </div>
        <div class="formation-child">
            <h3>2024 - Big Decisions</h3>
            <p>
                In 2024 my final year of school and my year to choose a college
                president Javier Millei was elected. Here I had to think hard
                whether UBA was actually worth it considering the amount of
                strikes that would probably happend and that eventually did
                happen. I decided to go to UTDT(Universidad Torcuato Di Tella)
                since it's private and I would not have to deal with strikes.
                During this year I dedicated myself to positioning <a
                    href="https://ahavahmoda.com"
                    target="_blank">Ahavah Moda</a
                > in the first page for multiple important keywords like "bikinis
                por mayor", "bikinis y mallas por mayor", "lenceria once por mayor",
                and "mallas por mayor once". These are only some of the many keywords
                this website is positioned in the first page for in argentina. I
                also developed a keyboard for a person with disabilities. This keyboard
                came with a custom software that allowed the user to use the keyboard
                and also used ai to predict the next word the user was going to type
                to help him communicate. (<a
                    href="https://www.clarin.comsociedad/van-5-ano-fabricaron-dispositivo-puedan-comunicar-personas-paralisis_0_TKjqhMtRes.html?srsltid=AfmBOoo2KTwilQz_YlSQeSjIm90ULh5AGEiXm3-PZV-S1SH19MCSnSF4"
                    target="_blank">Clarin</a
                >, <a
                    target="_blank"
                    href="https://www.diariolavanguardia.com/nacionales/17766-fabricaron-un-dispositivo-para-que-se-puedan-comunicar-las-personas-con-paralisis/"
                    >Diario La Vanguardia</a
                >) This project allowed us to win a prize at Globant for
                entreupreneurship and innovation. We took the prize for best
                project and team which allowed us to get a mentorship with some
                very experienced people.(<a
                    href="https://es.linkedin.com/posts/jennifereffron_sinergia-un-programa-transversal-que-potencia-activity-7239432463473664001-hG_Q"
                    target="_blank">Globant Prize</a
                >). This year packed with experiences and learnings was a great
                and I finished it by deciding to embark on a new website
                development with a friend. This website is <a
                    href="https://allforwater.com"
                    target="_blank">Allforwater.com</a
                > it's another website for my fathers company this time for the USA
                branch.
            </p>
        </div>
        <div class="formation-child">
            <h3>2025 - Begining Of My Career</h3>
            <p>
                This year began with the finishing of coding the new <a
                    href="https://allforwater.com"
                    target="_blank">Allforwater</a
                > website. By mid january I had finished coding everything with my
                friend Pedro Gonzales Soro which also helped me develop DIN. Since
                January to April I have been working on retouching the product details
                and SEO to optimize sales. To this day it has generated 20,000 USD
                in sales, which is a great start for a website that was launched
                in January. We are projecting to reach 200,000 USD in sales by the
                end of the year. I began the development of a new website for my
                father which will allow him to optimize his sales representatives
                since he has many and it's hard to keep track of all of them. This
                website will allow him to see statistics of each one of them like
                average client revenue and how many of the clients that each one
                has are really active or just bought something once and never again.
                He is also trying to use this to allow his sales reps to see what
                clients they haven't contacted in a long time and create leads.
            </p>
        </div>
    </div>
</section>
