---
import "../assets/css/Nav.css"
---

<nav class="navbar">
    <div class="navbar-wrapper">
        <a href="#" class="nav-links">Home</a>
        <a href="#formation" class="nav-links">Formation</a>
        <a href="#contact" class="nav-links">Contact</a>
    </div>
</nav>